#Scentific Libs
scipy==1.4.1
numpy
#ML
scikit-learn==0.22.1
#NLP
spacy==2.2.3
nltk==3.4.5
#Misc
jupyterlab==1.2.6
psycopg2==2.8.2
#Visulization
seaborn==0.10.0
wordcloud==1.6.0
plotly==4.5.2
matplotlib
#DL
tensorflow-gpu
#sudo apt-get install cuda-cudart-10-1
tensorflow_hub
tensorflow_datasets
tqdm
